/* ELEMENT */

img {
    height: 200px;
    width: 200px;
}

/* ID */

#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}

/* CLASSES */

.color-title {
    font-weight: normal;
}

